[submodule "toolkit/submodules/WebOfTrustInfo/rwot7-toronto"]
	path = toolkit/submodules/WebOfTrustInfo/rwot7-toronto
	url = https://github.com/WebOfTrustInfo/rwot7-toronto
[submodule "toolkit/submodules/WebOfTrustInfo/rwot5-boston"]
	path = toolkit/submodules/WebOfTrustInfo/rwot5-boston
	url = https://github.com/WebOfTrustInfo/rwot5-boston
[submodule "toolkit/submodules/WebOfTrustInfo/rwot8-barcelona"]
	path = toolkit/submodules/WebOfTrustInfo/rwot8-barcelona
	url = https://github.com/WebOfTrustInfo/rwot8-barcelona
[submodule "toolkit/submodules/WebOfTrustInfo/rwot6-santabarbara"]
	path = toolkit/submodules/WebOfTrustInfo/rwot6-santabarbara
	url = https://github.com/WebOfTrustInfo/rwot6-santabarbara
[submodule "toolkit/submodules/infominer33/DIDecentralized"]
	path = toolkit/submodules/infominer33/DIDecentralized
	url = https://github.com/infominer33/DIDecentralized
[submodule "playground/SourceCrypto"]
	path = playground/SourceCrypto
	url = https://github.com/infominer33/SourceCrypto
