[submodule "docs-data/.submodules/WebOfTrustInfo/rwot7-toronto"]
	path = docs-data/.submodules/WebOfTrustInfo/rwot7-toronto
	url = https://github.com/WebOfTrustInfo/rwot7-toronto
[submodule "docs-data/.submodules/WebOfTrustInfo/rwot5-boston"]
	path = docs-data/.submodules/WebOfTrustInfo/rwot5-boston
	url = https://github.com/WebOfTrustInfo/rwot5-boston
[submodule "docs-data/.submodules/WebOfTrustInfo/rwot8-barcelona"]
	path = docs-data/.submodules/WebOfTrustInfo/rwot8-barcelona
	url = https://github.com/WebOfTrustInfo/rwot8-barcelona
[submodule "docs-data/.submodules/WebOfTrustInfo/rwot6-santabarbara"]
	path = docs-data/.submodules/WebOfTrustInfo/rwot6-santabarbara
	url = https://github.com/WebOfTrustInfo/rwot6-santabarbara
[submodule "docs-data/.submodules/infominer33/DIDecentralized"]
	path = docs-data/.submodules/infominer33/DIDecentralized
	url = https://github.com/infominer33/DIDecentralized
[submodule "docs-toolkit/.kbash"]
	path = docs-toolkit/.kbash
	url = git@github.com:korsimoro/kbash
[submodule "docs-toolkit/docutil/sqliteschema"]
	path = docs-toolkit/docutil/sqliteschema
	url = git@github.com:korsimoro/sqliteschema
