# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1

    working_directory: ~/repo

    steps:
      - checkout

      # We can attach specific commits of other repositories and include them
      # in our documentation.  This can be used as much, or as little, as
      # desired - it's just another PoC
      # debug the infrastructure required to do it.
      - run:
          name: bring submodules down
          command: |
            git submodule update --init

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "./docs-toolkit/docutil/local-requirements.txt" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: copy repository README to mkdocs PoC
          command: |
            cp ~/repo/README.md ~/repo/docs/mkdocs/poc/src/details.md

      - run:
          name: install dependencies
          command: |
            . ~/repo/docs-toolkit/kbash/activate.sh
            pd setup docutil
            cat /home/circleci/repo/docs-toolkit/docutil/setup-logs/*
            pd setup mkdocs
            pd build-all

      - save_cache:
          paths:
            - ./docs-toolkit/docutil/venv
          key: v1-dependencies-{{ checksum "./docs-toolkit/docutil/local-requirements.txt" }}

      #- run:
      #    name: generate commit logs
      #    command: |
      #      . ~/repo/docs-toolkit/docutil/venv/bin/activate
      #      for x in rwot8-barcelona rwot7-toronto rwot6-santabarbara rwot5-boston; do
      #      	mkdir -p ~/repo/docs/_data/submodules/WebOfTrustInfo/$x
      #      	tool --dir ~/repo gitlog --org WebOfTrustInfo --repo $x > ~/repo/docs/_data/submodules/WebOfTrustInfo/$x/commitlog.json
      #      done

  deploy:
    working_directory: ~/repo

    steps:
      - run:
          name: push data to master and trigger jekyll build phase
          command: |
            if [ "${CIRCLE_BRANCH}" == "documentation" ]; then
              git config user.email "eric@korsimoro.com"
              git config user.name "CircleCI Build"
              echo "First Status"
              git status
              echo "Adding all"
              git add .
              echo "Committing"
              git commit -a -m "Publishing Update From CircleCI"
              rm -rf ~/repo/docs-data/.submodules
              echo "Second Status"
              git status
              echo "Go back to master and blow away repo contents"
              git checkout master
              git rm -rf ~/repo/docs
              git commit -a -m "clearing docs to receive easy merge"
              echo "Pull built documentation forward"
              git merge -X theirs documentation -m "Merging Documentation"
              echo "Trigger deployment by pushing to master"
              git push origin master
              echo "Cleanup"
              git checkout kbash
            fi

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - documentation
                - testit
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: documentation
